<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Book Appointment | Today's Medical System</title>
  <!-- Include CSS with Thymeleaf syntax -->
  <link rel="stylesheet" href="assets/css/style.css" />
</head>
<body>
<!-- Include Header -->
<div th:replace="fragments/header :: header"></div>

<div class="page-wrapper">
  <div class="home-container">
    <div class="appointment-container">
      <h1>Book Your Appointment</h1>
      <form action="/saveAppointment" method="POST"  th:object="${appointment}">
        <div class="form-group">
          <label for="appointmentDate">Date:</label>
          <input type="date" id="appointmentDate" name="appointmentDate" required />
        </div>
        <div class="form-group">
          <label for="appointmentTime">Time:</label>
          <input type="time" id="appointmentTime" name="appointmentTime" required />
        </div>
        <div class="form-group">
          <label for="reason">Service:</label>
          <div class="custom-select-wrapper">
            <select id="reason" name="reason" required>
              <option value="" disabled selected>Select a service</option>
              <option value="consultation">Consultation</option>
              <option value="followup">Follow-Up</option>
              <option value="checkup">Check-Up</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <button class="book-btn" type="submit">Book Appointment</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Include Footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
